<section>
  <button type="button" (click)='create()'>create</button>
  <button type="button" (click)='refreshToken()'>refreshToken</button>
  <button type='button' (click)='deleteAll()'>deleteAll</button>
  <button type='button' (click)='switchUser("ZELO")'>ZELO user</button>
  <button type='button' (click)='switchUser("ZEWI")'>ZEWI user</button>
  <button type='button' (click)='switchUser("ZOWI")'>ZOWI user</button>
  <button type='button' (click)='logout()'>logout</button>

  <p>current user: {{user}}</p>

  <table>
    <thead>
      <th>id</th>
      <th>content</th>
    </thead>
    <tbody>
      <tr *ngFor="let comment of comments; trackBy:comment?.id">
        <td>{{comment.id}}</td>
        <td>{{comment.content}}</td>
      </tr>
    </tbody>
  </table>

</section>
